body, html {
    background-image: -moz-radial-gradient(50% 200px 45deg, circle cover, #222 0%, black 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 70.5, from(black), to(#222));
    padding-top: 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
}
header, section, footer, figure {
	display: block;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
a {
    cursor: pointer;
	color: white;
	text-decoration: none;
}
header {
    width: 800px;
    margin: 0 auto;
	height: 90px;
}
header img {
	float: left;
}
header h1 {
    color: rgb(66,90,96);
    font-size: 300%;
}
nav {
	padding-top: 40px;
	display: inline-block;
	margin-left: 304px;
}
nav li {
	float: left;
	margin-left: 5px;
	position: relative;
}
nav li a {
	color: white;
	padding: 5px 10px;
	font-weight: bold;
	background-image: -moz-linear-gradient(100% 100% 90deg, #e80078, #e91f87);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e91f87), to(#e80078));
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
}
span#arrow {
	margin: 0 auto;
	display: block;
	position: relative;
	background: url(arrow.png) no-repeat 0px 0px;
	width: 11px;
	height: 10px;
	top: 5px;
}
div#profile {
	clear: both;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	width: 800px;
	margin: 0 auto;
	padding: 20px 0px;
	background-image: -moz-linear-gradient(100% 100% 90deg, #000000, #333333);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#000000));
}
div#profile img {
	float: left;
	margin: 0px 20px;
	border: 3px solid white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
th {
	font-size: 200%;
	color: rgb(232,0,120);
	padding-left: 10px;
	font-weight: bold;
}
td {
	padding: 2px 10px; 
	color: rgb(232,0,120);
	font-weight: bold;
}
td + td {
	font-weight: normal;
	color: white;
}
div#main {
    width: 800px;
    min-height: 600px;
    margin: 0px auto 40px auto;
    background: #f1f1f1;
    border: 1px solid #cecece;
	-moz-box-shadow: 0px 0px 30px #444;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	background-image: -moz-linear-gradient(100% 100% 180deg, #ffffff, #999);
	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#999), to(#fff));
}
div#posts {
	width: 600px;
	float: left;
}
div.post {
    padding: 15px 0px;
	background-image: -moz-linear-gradient(100% 100% 90deg, #f1f1f1, #ffffff);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f1f1f1));
}
div.post.first {
    border: none;
}
div.post.hidden {
    display: none;
}
a.user {
    display: inline-block;
    margin: 0 10px 5px 20px;
    font-weight: bold;
    color: rgb(232,0,120);
    text-decoration: none;
}
a.user:hover {
    color: rgba(232,0,120,0.7);
}
span.time {
    color: #888;
}
sup {
    vertical-align: top;
}
p.text {
    color: rgb(61,61,61);
    padding: 0 20px;
}
p.text span {
    color: rgb(151,151,151);
    text-decoration: none;
    font-style: italic;
}
div#sidebar {
        color: #888;
        font-size: 12px;
	width: 180px;
	margin-left: 600px;
	padding: 10px;
}
div#sidebar h3 {
        font-size: 24px;
        color: #222;
        border-bottom: 1px solid #999;
        padding-bottom: 5px;
        font-weight: bold;

}
div#sidebar .name {
        font-size: 20px;
        color: #666;
        padding-top: 5px;
}
div#sidebar .address {
        border-bottom: 1px solid #999;
        padding-bottom: 5px;
}
/* LOADERS */